In [0]:
import pandas as pd 
import numpy as np

In [0]:
data = pd.read_csv('/content/Churn_Modelling.csv')

In [6]:
data.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [7]:
data.describe()

         RowNumber    CustomerId  ...  EstimatedSalary        Exited
count  10000.00000  1.000000e+04  ...     10000.000000  10000.000000
mean    5000.50000  1.569094e+07  ...    100090.239881      0.203700
std     2886.89568  7.193619e+04  ...     57510.492818      0.402769
min        1.00000  1.556570e+07  ...        11.580000      0.000000
25%     2500.75000  1.562853e+07  ...     51002.110000      0.000000
50%     5000.50000  1.569074e+07  ...    100193.915000      0.000000
75%     7500.25000  1.575323e+07  ...    149388.247500      0.000000
max    10000.00000  1.581569e+07  ...    199992.480000      1.000000

[8 rows x 11 columns]

In [0]:
x = data.iloc[:,3:13].values
y = data.iloc[:, 13].values

In [0]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.compose import ColumnTransformer
ct = ColumnTransformer([('Geography', OneHotEncoder(), [1])], remainder = 'passthrough')
x = ct.fit_transform(x)
labelencoder_x = LabelEncoder()
x[:, 4] = labelencoder_x.fit_transform(x[:, 4])
x = np.array(x, dtype = np.float64)

In [0]:
# droping first column to avoid dummy trap
x = x[:, 1:]

In [0]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 0)

In [0]:
# standardizing features
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [13]:
from keras.models import Sequential
from keras.layers import Dense
# initializing ANN with input layer and first hidden layer
def classifier():
    
    # initializing ANN
    model = Sequential()
    model.add(Dense(activation = 'relu', units = 6, kernel_initializer = 'uniform', input_dim = 11))
    model.add(Dense(activation = 'relu', units = 6, kernel_initializer = 'uniform'))
    model.add(Dense(activation = 'sigmoid', units = 1, kernel_initializer = 'uniform'))    
    
    # compiling ANN
    model.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics= ['accuracy'])
    
    return model

Using TensorFlow backend.

In [14]:
model = classifier()

# fitting the training set
model.fit(x_train, y_train, batch_size = 10, epochs = 100)

Epoch 1/100
8000/8000 [==============================] - 1s 154us/step - loss: 0.4864 - accuracy: 0.7958
Epoch 2/100
8000/8000 [==============================] - 1s 116us/step - loss: 0.4280 - accuracy: 0.7960
Epoch 3/100
8000/8000 [==============================] - 1s 114us/step - loss: 0.4230 - accuracy: 0.7960
Epoch 4/100
8000/8000 [==============================] - 1s 114us/step - loss: 0.4193 - accuracy: 0.8134
Epoch 5/100
8000/8000 [==============================] - 1s 117us/step - loss: 0.4168 - accuracy: 0.8249
Epoch 6/100
8000/8000 [==============================] - 1s 119us/step - loss: 0.4147 - accuracy: 0.8300
Epoch 7/100
8000/8000 [==============================] - 1s 119us/step - loss: 0.4135 - accuracy: 0.8305
Epoch 8/100
8000/8000 [==============================] - 1s 116us/step - loss: 0.4122 - accuracy: 0.8310
Epoch 9/100
8000/8000 [==============================] - 1s 116us/step - loss: 0.4113 - accuracy: 0.8320
Epoch 10/100
8000/8000 [==============================] - 1s 119us/step - loss: 0.4103 - accuracy: 0.8328
Epoch 11/100
8000/8000 [==============================] - 1s 117us/step - loss: 0.4094 - accuracy: 0.8340
Epoch 12/100
8000/8000 [==============================] - 1s 118us/step - loss: 0.4093 - accuracy: 0.8351
Epoch 13/100
8000/8000 [==============================] - 1s 118us/step - loss: 0.4083 - accuracy: 0.8339
Epoch 14/100
8000/8000 [==============================] - 1s 116us/step - loss: 0.4075 - accuracy: 0.8345
Epoch 15/100
8000/8000 [==============================] - 1s 119us/step - loss: 0.4071 - accuracy: 0.8356
Epoch 16/100
8000/8000 [==============================] - 1s 118us/step - loss: 0.4064 - accuracy: 0.8341
Epoch 17/100
8000/8000 [==============================] - 1s 116us/step - loss: 0.4063 - accuracy: 0.8344
Epoch 18/100
8000/8000 [==============================] - 1s 116us/step - loss: 0.4058 - accuracy: 0.8356
Epoch 19/100
8000/8000 [==============================] - 1s 117us/step - loss: 0.4051 - accuracy: 0.8354
Epoch 20/100
8000/8000 [==============================] - 1s 116us/step - loss: 0.4052 - accuracy: 0.8354
Epoch 21/100
8000/8000 [==============================] - 1s 115us/step - loss: 0.4050 - accuracy: 0.8342
Epoch 22/100
8000/8000 [==============================] - 1s 114us/step - loss: 0.4044 - accuracy: 0.8345
Epoch 23/100
8000/8000 [==============================] - 1s 119us/step - loss: 0.4042 - accuracy: 0.8353
Epoch 24/100
8000/8000 [==============================] - 1s 116us/step - loss: 0.4039 - accuracy: 0.8349
Epoch 25/100
8000/8000 [==============================] - 1s 113us/step - loss: 0.4040 - accuracy: 0.8351
Epoch 26/100
8000/8000 [==============================] - 1s 113us/step - loss: 0.4034 - accuracy: 0.8349
Epoch 27/100
8000/8000 [==============================] - 1s 116us/step - loss: 0.4036 - accuracy: 0.8361
Epoch 28/100
8000/8000 [==============================] - 1s 116us/step - loss: 0.4035 - accuracy: 0.8355
Epoch 29/100
8000/8000 [==============================] - 1s 119us/step - loss: 0.4031 - accuracy: 0.8351
Epoch 30/100
8000/8000 [==============================] - 1s 118us/step - loss: 0.4034 - accuracy: 0.8340
Epoch 31/100
8000/8000 [==============================] - 1s 118us/step - loss: 0.4029 - accuracy: 0.8353
Epoch 32/100
8000/8000 [==============================] - 1s 119us/step - loss: 0.4028 - accuracy: 0.8360
Epoch 33/100
8000/8000 [==============================] - 1s 117us/step - loss: 0.4027 - accuracy: 0.8342
Epoch 34/100
8000/8000 [==============================] - 1s 116us/step - loss: 0.4026 - accuracy: 0.8350
Epoch 35/100
8000/8000 [==============================] - 1s 119us/step - loss: 0.4028 - accuracy: 0.8342
Epoch 36/100
8000/8000 [==============================] - 1s 118us/step - loss: 0.4024 - accuracy: 0.8336
Epoch 37/100
8000/8000 [==============================] - 1s 113us/step - loss: 0.4029 - accuracy: 0.8353
Epoch 38/100
8000/8000 [==============================] - 1s 118us/step - loss: 0.4027 - accuracy: 0.8364
Epoch 39/100
8000/8000 [==============================] - 1s 117us/step - loss: 0.4023 - accuracy: 0.8344
Epoch 40/100
8000/8000 [==============================] - 1s 115us/step - loss: 0.4027 - accuracy: 0.8347
Epoch 41/100
8000/8000 [==============================] - 1s 115us/step - loss: 0.4018 - accuracy: 0.8328
Epoch 42/100
8000/8000 [==============================] - 1s 117us/step - loss: 0.4021 - accuracy: 0.8367
Epoch 43/100
8000/8000 [==============================] - 1s 114us/step - loss: 0.4024 - accuracy: 0.8351
Epoch 44/100
8000/8000 [==============================] - 1s 118us/step - loss: 0.4022 - accuracy: 0.8350
Epoch 45/100
8000/8000 [==============================] - 1s 116us/step - loss: 0.4022 - accuracy: 0.8361
Epoch 46/100
8000/8000 [==============================] - 1s 119us/step - loss: 0.4023 - accuracy: 0.8339
Epoch 47/100
8000/8000 [==============================] - 1s 116us/step - loss: 0.4019 - accuracy: 0.8363
Epoch 48/100
8000/8000 [==============================] - 1s 117us/step - loss: 0.4022 - accuracy: 0.8344
Epoch 49/100
8000/8000 [==============================] - 1s 116us/step - loss: 0.4017 - accuracy: 0.8356
Epoch 50/100
8000/8000 [==============================] - 1s 115us/step - loss: 0.4020 - accuracy: 0.8341
Epoch 51/100
8000/8000 [==============================] - 1s 115us/step - loss: 0.4018 - accuracy: 0.8347
Epoch 52/100
8000/8000 [==============================] - 1s 119us/step - loss: 0.4019 - accuracy: 0.8359
Epoch 53/100
8000/8000 [==============================] - 1s 112us/step - loss: 0.4020 - accuracy: 0.8341
Epoch 54/100
8000/8000 [==============================] - 1s 114us/step - loss: 0.4015 - accuracy: 0.8350
Epoch 55/100
8000/8000 [==============================] - 1s 116us/step - loss: 0.4019 - accuracy: 0.8344
Epoch 56/100
8000/8000 [==============================] - 1s 115us/step - loss: 0.4017 - accuracy: 0.8346
Epoch 57/100
8000/8000 [==============================] - 1s 117us/step - loss: 0.4015 - accuracy: 0.8349
Epoch 58/100
8000/8000 [==============================] - 1s 115us/step - loss: 0.4016 - accuracy: 0.8357
Epoch 59/100
8000/8000 [==============================] - 1s 113us/step - loss: 0.4016 - accuracy: 0.8346
Epoch 60/100
8000/8000 [==============================] - 1s 113us/step - loss: 0.4011 - accuracy: 0.8359
Epoch 61/100
8000/8000 [==============================] - 1s 116us/step - loss: 0.4014 - accuracy: 0.8367
Epoch 62/100
8000/8000 [==============================] - 1s 115us/step - loss: 0.4015 - accuracy: 0.8357
Epoch 63/100
8000/8000 [==============================] - 1s 112us/step - loss: 0.4015 - accuracy: 0.8342
Epoch 64/100
8000/8000 [==============================] - 1s 110us/step - loss: 0.4015 - accuracy: 0.8346
Epoch 65/100
8000/8000 [==============================] - 1s 109us/step - loss: 0.4017 - accuracy: 0.8359
Epoch 66/100
8000/8000 [==============================] - 1s 108us/step - loss: 0.4016 - accuracy: 0.8357
Epoch 67/100
8000/8000 [==============================] - 1s 110us/step - loss: 0.4017 - accuracy: 0.8361
Epoch 68/100
8000/8000 [==============================] - 1s 109us/step - loss: 0.4014 - accuracy: 0.8353
Epoch 69/100
8000/8000 [==============================] - 1s 108us/step - loss: 0.4013 - accuracy: 0.8355
Epoch 70/100
8000/8000 [==============================] - 1s 112us/step - loss: 0.4014 - accuracy: 0.8351
Epoch 71/100
8000/8000 [==============================] - 1s 108us/step - loss: 0.4014 - accuracy: 0.8347
Epoch 72/100
8000/8000 [==============================] - 1s 109us/step - loss: 0.4015 - accuracy: 0.8351
Epoch 73/100
8000/8000 [==============================] - 1s 111us/step - loss: 0.4010 - accuracy: 0.8360
Epoch 74/100
8000/8000 [==============================] - 1s 113us/step - loss: 0.4010 - accuracy: 0.8354
Epoch 75/100
8000/8000 [==============================] - 1s 124us/step - loss: 0.4011 - accuracy: 0.8371
Epoch 76/100
8000/8000 [==============================] - 1s 120us/step - loss: 0.4004 - accuracy: 0.8361
Epoch 77/100
8000/8000 [==============================] - 1s 119us/step - loss: 0.4012 - accuracy: 0.8351
Epoch 78/100
8000/8000 [==============================] - 1s 120us/step - loss: 0.4010 - accuracy: 0.8356
Epoch 79/100
8000/8000 [==============================] - 1s 123us/step - loss: 0.4009 - accuracy: 0.8351
Epoch 80/100
8000/8000 [==============================] - 1s 121us/step - loss: 0.4010 - accuracy: 0.8353
Epoch 81/100
8000/8000 [==============================] - 1s 113us/step - loss: 0.4013 - accuracy: 0.8342
Epoch 82/100
8000/8000 [==============================] - 1s 113us/step - loss: 0.4004 - accuracy: 0.8340
Epoch 83/100
8000/8000 [==============================] - 1s 115us/step - loss: 0.4006 - accuracy: 0.8363
Epoch 84/100
8000/8000 [==============================] - 1s 116us/step - loss: 0.4008 - accuracy: 0.8340
Epoch 85/100
8000/8000 [==============================] - 1s 113us/step - loss: 0.4007 - accuracy: 0.8369
Epoch 86/100
8000/8000 [==============================] - 1s 115us/step - loss: 0.4008 - accuracy: 0.8354
Epoch 87/100
8000/8000 [==============================] - 1s 118us/step - loss: 0.4005 - accuracy: 0.8355
Epoch 88/100
8000/8000 [==============================] - 1s 118us/step - loss: 0.4003 - accuracy: 0.8341
Epoch 89/100
8000/8000 [==============================] - 1s 115us/step - loss: 0.4010 - accuracy: 0.8351
Epoch 90/100
8000/8000 [==============================] - 1s 116us/step - loss: 0.4007 - accuracy: 0.8369
Epoch 91/100
8000/8000 [==============================] - 1s 117us/step - loss: 0.4010 - accuracy: 0.8349
Epoch 92/100
8000/8000 [==============================] - 1s 114us/step - loss: 0.4004 - accuracy: 0.8344
Epoch 93/100
8000/8000 [==============================] - 1s 117us/step - loss: 0.4010 - accuracy: 0.8356
Epoch 94/100
8000/8000 [==============================] - 1s 115us/step - loss: 0.4009 - accuracy: 0.8363
Epoch 95/100
8000/8000 [==============================] - 1s 116us/step - loss: 0.4005 - accuracy: 0.8363
Epoch 96/100
8000/8000 [==============================] - 1s 118us/step - loss: 0.4007 - accuracy: 0.8347
Epoch 97/100
8000/8000 [==============================] - 1s 115us/step - loss: 0.4005 - accuracy: 0.8344
Epoch 98/100
8000/8000 [==============================] - 1s 114us/step - loss: 0.4008 - accuracy: 0.8353
Epoch 99/100
8000/8000 [==============================] - 1s 116us/step - loss: 0.4003 - accuracy: 0.8336
Epoch 100/100
8000/8000 [==============================] - 1s 115us/step - loss: 0.4009 - accuracy: 0.8366

In [0]:
y_predic = model.predict(x_test)   #predicting results

In [16]:
y_predi_bin = (y_predic > 0.5)
y_predi_bin

array([[False],
       [False],
       [False],
       ...,
       [False],
       [False],
       [False]])

In [17]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_predi_bin, y_test)             # predicting power

array([[1546,  277],
       [  49,  128]])

In [23]:
# checking accuracy
(1546 + 128)/2000

0.837

# Model Evaluation using k-fold cross-validation

In [0]:
from keras.wrappers.scikit_learn import KerasClassifier
from sklearn.model_selection import cross_val_score

In [0]:
model = KerasClassifier(build_fn = classifier, batch_size = 10, epochs = 100)
accuracies = cross_val_score(estimator = model, X = x_train, y = y_train, cv = 10, n_jobs = -1)

In [22]:
mean = accuracies.mean()
variance = accuracies.std()
print('Accuracy: {:.2f}\nVariance: {:.2f}'.format(mean,variance))

Accuracy: 0.84
Variance: 0.02